@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Cormorant:wght@500&display=swap');

.App {
  text-align: center;
  font-family: 'Cormorant', serif;
  font-family: 'Cormorant Garamond', serif;
  
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items:flex-start; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.opentxt {
position: relative;
top: 200px;
margin-left: 50px;
}
.opentitle {
  position:absolute;
  font-size: 78px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: .80;
  text-align: left;
}
.openpar {
position: relative;
float: left;
top: 200px;
line-height: .90;
font-size: 20px;
margin-top: -5px;
font-weight: 570;
text-align: left;

}

.openimg {
  align-items: center;
  height: 600px;
}
.signbtn {
  position: absolute;
  float: left;
}

.MomProfileCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.JenPic {
  padding-top: 15px;
  width: 100px;
}

.NavBar {
  background-color: #E3B7A0;
  padding: 20px;
}

.LinkMomPage {
  color: #BF9270;
  border: none;
  outline: 0;
  display: block;
  padding: 8px;
  color: white;
  background-color: #BF9270;
  text-align: center;
  cursor: pointer;
  width: 95%;
  font-size: 18px;
}

.MomBio {
  color: black;
  font-size: 18px;
}

 .HomeImg1 {
  height: 300px;
  width: 450px;
  
} 
.column {
  float:right;
  margin-right: 30px;
  width: 30%;
  padding: 5px;
 }
 .DivBlock {
  margin: 30px;
  margin-left: 290px;
  width: 35%;
  height: 300px;
  background-color:#BF9270;
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding-left: 450px;
 }
 .app-name {
  float: left;
  color:black;
  text-decoration: none;
 }
 .NavButton {
  background-color:#E3B7A0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
 }
 .CreateButton {
  background-color:#E3B7A0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
 }

.TextArea {
  width: 400px;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  resize: none;
}
.CreateDiv{
  margin: 30px;
  margin-left: 290px;
  width: 35%;
  height: 250px;
  background-color:#BF9270;
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding-left: 450px;
}
.UpdateButton{
  background-color:#E3B7A0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
}
.DeleteButton{
  background-color:red;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
}

.LogButton {
  background-color:#E3B7A0;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
}
.SignButton {
  background-color:#E3B7A0;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
}
.SignInput {
  width: 300px;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  resize: none;
}

.LogInput {
  width: 300px;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  resize: none;
}

.TextDiv {
margin-left: -200px;
margin-right: 200px;
background-color: #FFEDDB;
font-size: 18px;
width:1000px;
}
.PTag {
padding-right: 400px;
padding-left: 400px;


}
.ProfDiv {
  padding-bottom: 50px;
padding-top: 50px;
}

.DetailsImg {
  width:200px;
  height: 200px;
  padding-top: 15px;
}

.hometxt {
  display: flex;
  justify-content: center;
}





 

