@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Cormorant:wght@500&display=swap');

.App {
  text-align: center;
  font-family: 'Cormorant', serif;
  font-family: 'Cormorant Garamond', serif;
  
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 667px) {
  
  .opentitle {
    font-size: 40px !important;
    width: 100% !important;
    left: -20px;
    bottom: 30px;
  }
  .openpar{
    font-size: 18px !important;
    width: 100% !important;
    line-height: 19px !important;
    right: 20px;
    top: 350px !important;
    padding-top: 0;
  }
  .signbtn{
    position: absolute;
    bottom: -200px !important;
  }
  .openimg{
    /* width: 100%;
    position: absolute; */
   left: 0px;
    top: 200px;
  }
  .NavBar {
    width: 100%;
    }
    .NavButton{
      float: left;
    }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.opentxt {
position: relative;
top: 200px;
margin-left: 50px;
}
.opentitle {
  position:absolute;
  font-size: 78px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: .80;
  text-align: left;
}
.openpar {
position: relative;
float: left;
top: 200px;
line-height: .90;
font-size: 20px;
margin-top: -5px;
font-weight: 570;
text-align: left;

}

.openimg {
  align-items: center;
  height: 600px;
}
.signbtn {
  position: absolute;
  background-color:#E3B7A0;
  color: white;
  padding: 10px 40px;
  position: absolute;
  bottom: 200px;
  left: 60px;
  font-size: 35px;
  text-decoration: none;
  cursor: pointer;
}



.H1Mom {
  background-color:#E3B7A0;
  color: white;
  padding: 10px 40px;
  position: absolute;
  top: 95px;
  left: 650px;
}



.MomProfileCard {
text-align: center;
max-width: 300px;
width: 100%;
box-shadow: 0 0 10px white;
padding: 20px;
margin-top: 150px;

}

.MomProfileCard:hover{
  background-color: white;
  opacity: 60%;

}

.MomsPage{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex-direction: row;
  margin-left: 65px;
 margin-bottom: 150px;
 
}


.prof-pic {
width: 150px;
height: 150px;
object-fit: cover;
border-radius: 50%;
margin: 0 auto 20px auto;
display: block;

}
.MomBio {
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 14.4px;
}

.MomName{
  font-size: 19.2px;
  font-weight: bold;
}



.LinkMomPage {
  color: #BF9270;
  /* display: block; */
  padding: 8px;
  color: white;
  background-color: #BF9270;
  text-align: center;
  cursor: pointer;
  width: 40%;
  font-size: 18px;
}


.HomeImg1 {
  height: 300px;
  width: 450px;
  
} 
.NavBar {
  background-color: #E3B7A0;
  padding: 20px;
}
.column {
  float:right;
  margin-right: 30px;
  width: 30%;
  padding: 5px;
 }
 .DivBlock {
  margin: 30px;
  margin-left: 290px;
  width: 35%;
  height: 300px;
  background-color:#BF9270;
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding-left: 450px;
 }
 .app-name {
  float: left;
  color:black;
  text-decoration: none;
 }
 .NavButton {
  background-color:#E3B7A0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
 }
 .CreateButton {
  background-color:#E3B7A0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
 }

.TextArea {
  width: 400px;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  resize: none;
}
.CreateDiv{
  margin: 30px;
  margin-left: 290px;
  width: 20%;
  height: 250px;
  background-color:#BF9270;
  display:flex;
  justify-content:space-between;
  align-items: center;
  /* padding-left: 450px; */
}
.UpdateButton{
  background-color:#E3B7A0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
}
.DeleteButton{
  background-color:darkred;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  text-decoration: none;
}

.LogButton {
  background-color:#E3B7A0;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
}
.SignButton {
  background-color:#E3B7A0;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}
.SignInput {
  width: 300px;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  resize: none;
}

.LogInput {
  width: 300px;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  resize: none;
}

.TextDiv {
margin-left: -200px;
margin-right: 200px;
background-color: #FFEDDB;
font-size: 18px;
width:1000px;
}
.PTag {
padding-right: 400px;
padding-left: 400px;


}
.ProfDiv {
  padding-bottom: 50px;
padding-top: 50px;
}

.DetailsImg {
  width:200px;
  height: 200px;
  padding-top: 15px;
}

.hometxt {
  display: flex;
  justify-content: center;
}





 

